# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules

# config files
backend/App.config
backend/connections.config
backend/csproj
backend/csproj.user
backend/.vs
backend/bin
backend/obj
backend/Properties
backend/appsettings.json
backend/appsettings.Development.json