# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules

*.config

# config files
Backend/App.config
Backend/connections.config
Backend/csproj
Backend/csproj.user
Backend/.vs
Backend/bin
Backend/obj
Backend/Properties
Backend/appsettings.json
Backend/appsettings.Development.json