<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="UsersConnectionString"
		connectionString="Data Source=DESKTOP-552PHV0\\SQLEXPRESS;Initial Catalog=EmailMarketing;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
		/>
	</connectionStrings>
</configuration>